@import url("./cabecalho.css");
@import url("./conteudo.css");
@import url("./breakpoint-630px.css");
@import url("./rodape.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    font-size: 62.7%;
}

.tit-foto{
    font-size: 4rem;
    text-align: center;
    margin: 5% 0;
}



